/*import font from google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap');

/*Clear any existing padding & margin from browser*/

* {
    margin: 0;
    padding: 0;
}

/*Create .container rule*/

.container {
    width: 100%;
    height: 100vh;

    overflow-y: scroll;
    scroll-behavior: smooth;

}

/*Create body rule*/

body {
    font-family: lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
    height: 100vh;
    line-height: 1.6;
    overflow: hidden;
}

/*Add rule for h1,h3 and h2*/

h1,
h3 {
    font-family: lato, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #3a3a3a;

}

h2 {
    font-family: oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #3a3a3a;

}

/*Create logo rule*/

.logo {
    display: flex;
    justify-content: left;
    line-height: 50px;
}

.logo h1 {
    font-size: 230%;
    text-transform: uppercase;
    color: #3a3a3a;
    margin-left: 10px;
}

.logo a {
    text-decoration: none;
}

/*navbar and menu rules*/

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

.menu {
    height: 100%;
}

.menu ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.menu li {
    list-style: none;
}

.menu li a {
    display: block;
    text-decoration: none;
    color: rgba(58, 58, 58, .6);
    padding: 1rem;
}

.navbar li a:hover {
    color: blue
}

/*Create hero-image and hero text rules*/

.hero {
    position: relative;
    height: 100vh;
    width: 100%;
}

#hero-image {
    height: 100vh;
    width: 100%;
    background: url('../images/hero-image.jpeg') no-repeat;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-text h2 {
    font-family: inherit;
    font-size: 250%;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    letter-spacing: 4px;
}

.hero-text h3 {
    font-family: inherit;
    font-size: 100%;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    letter-spacing: 4px;
    padding-top: 1em;
}

.hero-text {
    height: 150px;
    width: 100%;

    background-color: rgba(58, 58, 58, .6);
    position: absolute;

    bottom: 0px;

}

/*Create rules for the About-us section*/

#about-us h2 {
    font-size: 230%;
    font-family: inherit;
    text-align: center;
}

#about-us h3 {

    font-family: oswald, sans-serif;
    font-size: 180%;
    font-weight: 900;
    text-align: center;
}

.chef {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(240, 240, 240, 0.5);
    margin: 10px;
}

#the-chef {

    height: 50vh;
    width: 100%;
    background: url(../images/chef-sandra.jpeg);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 10px;

}

.chef-text {
    height: 50vh;
    width: auto;
    margin: 10px;
}

.chef-text h3 {
    font-family: inherit;
    text-transform: none;
    text-align: center;
    letter-spacing: 4px;
    color: black;
}

.chef p {
    font-family: inherit;
    text-transform: none;
    text-align: left;
    letter-spacing: 4px;
    padding: 20px;
    width: 60vw;


}

.awards {
    font-family: inherit;
    text-transform: none;
    text-align: center;
    letter-spacing: 4px;
    height: fit-content;
    width: 100%;
    background-color: rgba(240, 240, 240, 0.5);
    color: black;
}


.kitchen {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(240, 240, 240, 0.5);
    margin: 10px;
}

#the-kitchen {
    height: 50vh;
    width: 100%;
    background: url(../images/kitchen.jpeg);

    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px;
}

.kitchen h3 {

    font-family: inherit;
    text-transform: none;
    text-align: center;
    letter-spacing: 4px;
    width: auto;
    height: fit-content;
    color: black;

}
.kitchen p {
    font-family: inherit;
    text-transform: none;
    text-align: left;
    letter-spacing: 4px;
    
    width: 40vw;
    height: fit-content;
    
    padding: 20px;
    color: black;
}

/*Create form rules and add image to the sign-up section*/

.signup-outter {
    height: 100vh;
    width: 100%;
    background: url(../images/sign-up.jpeg);
    display: flex;
    align-items: center;
    justify-content: cover;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

#sign-up h2 {

    font-size: 230%;
    font-family: inherit;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 4px;
    color: #252525;

}

.signup-form {

    height: max-content;
    width: 100%;

    font-size: 130%;
    font-family: inherit;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 4px;
    margin: 20px;
    padding: 30px;
    background-color: rgba(240, 240, 240, 0.8);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;


}

label {
    text-align: center;


}

input {
    height: 30px;
    width: 100%;
    justify-content: space-around;
}

.checkbox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

textarea {
    height: 100px;
}

button {
    font-size: 30px;
    font-family: inherit;
    text-transform: uppercase;
    text-align: center;
    color: white;
    margin: auto;
    background-color: black;
    border-radius: 15px 40px;
    height: 60px;
    width: 50%;
}

button:hover {
    color: blue
}

/*Create contact section style*/

.contact {
    background-color: white;
    height: 40vh;
    width: 100%;

}

.social h2 {
    font-size: 230%;
    font-family: inherit;
    text-transform: uppercase;
    color: #3a3a3a;

    padding: 10px;
}

.social {

    text-align: center;

}

.social a {
    font-size: 230%;
    margin: 15px;
    padding: 5%;
    color: #3a3a3a;
}

.address {

    font-size: none;
    font-family: oswald, sans-serif;
    text-align: center;
    color: #3a3a3a;

    padding: 10px;
}

.address h3 {

    text-align: center;
    color: #3a3a3a;
}

/*Create media queries*/

@media screen and (max-width: 1200px) {
    .about-us {
        flex-direction: column;
        justify-content: center;

    }

    .about-us p {
        padding: 10px;
        height: min-content;
    }

    #chef {
        height: 100vh;
        width: 100%;
    }

    #kitchen {
        height: 100vh;
        width: 100%;
    }

    #our-courses {
        height: 100vh;
        width: 100%;
    }

    .hero {
        height: 100vh;
        width: 100%;
    }

}

@media screen and (max-width: 900px) {

    .logo {
        justify-content: center;
    }

    .menu {
        display: none;
    }

    .hero {
        background-position: right;
        height: 100vh;
        width: 100%;
        margin: 5px;
    }

    .hero-text {
        width: 100%;
        border-radius: 0;
        left: 0;
        justify-content: center;

    }

    #chef {
        margin: 5px;
    }

    #kitchen {
        margin: 5px;
    }

    #our-courses {
        margin: 5px;
    }

    .signup-form {
        height: fit-content;
        width: 100%;
    }
}

@media screen and (max-width: 450px) {

    /*.hero {
        margin: 0px;
    }
    #chef {
        margin: auto;
    }

    #kitchen {
        margin: auto;
    }

    #our-courses {
        margin: auto;
    }
    
    .hero-text {
        bottom: 0px;
    }*/

    .signup-outter {
        height: fit-content;

    }
}

@media screen and (max-width: 320px) {
    .logo {
        font-size: small;
    }

    button {
        font-size: medium;
    }
}